<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReleaseBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'releasebot/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'releasebot/bootstrap.css' %}" />
    <script src="{% static 'releasebot/vue.js' %}"></script>
    <script src="{% static 'releasebot/vue-resource.js' %}"></script>
    <script src="{% static 'releasebot/core.js' %}" defer></script>
  </head>

  <body>
    <div id="app">
        <form action="/releasebot/publish_release" align="left">
            <input type="submit" value="Publish a New Release" />
        </form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">SON Release Portal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h2 class="text-center">Releases</h2>
                    <div class="list-group limit-height">
                        {% for release in releases %}
                            <a href="release/{{ release.id }}" class="list-group-item list-group-item-action">{{ release.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <h2 class="text-center">Weekly builds</h2>
                    <div class="list-group limit-height">
                        {% for release in weeklys %}
                            <a href="release/{{ release.id }}" class="list-group-item list-group-item-action">{{ release.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                    <label for="product" class="col-sm-2 col-form-label"><h5>Product</h5></label>
                    <div class="col-sm-10">
                       <select id="product" class="form-control" v-model="selectedProduct">
                            {% for product in products %}
                                <option value="{{ product.id }}">{{product.name}}</option>
                            {% endfor %}
                       </select>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Accounts</th>
                          <th scope="col">Release</th>
                          <th scope="col">Build number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <template v-for="build in builds">
                              <th scope="row">[[build.account]]</th>
                              <td>[[build.release]]</td>
                              <td>[[build.name]]</td>
                          </template>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <img src="{% static 'releasebot/Capture.PNG' %}" style="border: 0px; height:350px;">
            </div>
        </div>
    </div>
    <br><br>

    <br><br>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>