<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReleaseBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'releasebot/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'releasebot/bootstrap.css' %}" />
    <script src="{% static 'releasebot/vue.js' %}"></script>
    <script src="{% static 'releasebot/core.js' %}" defer></script>
  </head>

  <body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Release {{release.name}} Details</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Components</th>
                          <th scope="col">Build number</th>
                          <th scope="col">Service Pack Name</th>
                          <th scope="col">Service Pack Number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">SON</th>
                          <td>17.1</td>
                          <td>SP1</td>
                          <td>2345</td>
                        </tr>
                        <tr>
                          <th scope="row">Policy Studio</th>
                          <td>18.1</td>
                          <td>SP1</td>
                          <td>2345</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-6">
                    <h2>Documentation</h2>
                    <div class="list-group">
                      <a href="{{release.releaseNotes}}" class="list-group-item list-group-item-action">Release Note</a>
                      <a href="{{release.technicalNotes}}" class="list-group-item list-group-item-action">Technical Note</a>
                    </div>
                </div>
                <div class="col-6">
                    <h2>Accounts</h2>
                    <div class="list-group">
                        {% for account in accounts %}
                          <a href="../../account/{{account.id}}/1/1" class="list-group-item list-group-item-action">{{account.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>