<!DOCTYPE html>
<html lang="en">

<head>

    <title>ReleaseBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'releasebot/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'releasebot/bootstrap.css' %}" />
    <script src="{% static 'releasebot/vue.js' %}"></script>
    <script src="{% static 'releasebot/core.js' %}" defer></script>
  </head>

  <body>
  <br>
    <div class="text-center">The release was published succesfully</div>
  <br>
<form action="../release/1/" align="center">
                <input type="submit" value="Go Back" />
            </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  </body>
</html>